<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>themelock.com - Koble</title>
<style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
table { border-spacing: 0; border-collapse: collapse; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
img { display: block !important; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
a { color: #21b6ae; text-decoration: none; }
.textbutton a { font-family: 'open sans', arial, sans-serif !important; color: #ffffff !important; }
.text-link a { color: #95a5a6 !important; }
@media only screen and (max-width: 640px) {
body { width: auto !important; }
table[class="table600"] { width: 450px !important; }
table[class="table-inner"] { width: 90% !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
}
@media only screen and (max-width: 479px) {
body { width: auto !important; }
table[class="table600"] { width: 290px !important; }
table[class="table-inner"] { width: 82% !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
}
</style>

</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#494c50">
<tr>
<td align="center" background="images/bg.jpg" style="background-size:cover; background-position:top;">
<table class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td height="50"></td>
	</tr>

	<tr>
		<td height="40"></td>
	</tr>
	<tr>
		<td align="center">
			<table align="center" bgcolor="#FFFFFF" style="border-radius:4px; box-shadow: 0px -3px 0px #d4d2d2;" width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="50"></td>
				</tr>

				<tr>
					<td align="center">
						<table align="center" class="table-inner" width="500" border="0" cellspacing="0" cellpadding="0">
							<!-- title -->
							<tr>
								<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:36px; color:#3b3b3b; font-weight: bold; letter-spacing:4px;">Olvidó su contraseña</td>
							</tr>
							<!-- end title -->

							<tr>
								<td align="center">
									<table width="25" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td height="20" style="border-bottom:2px solid #21b6ae;"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<!-- content -->
							<tr>
								<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#7f8c8d; line-height:30px;">
									Hola {{usuario.username}}, para restablecer su contraseña de clic en el siguiente botón, si usted no genero esta gestión por favor ignore este mensaje
								</td>
							</tr>
							<!-- end content -->
						</table>
					</td>
				</tr>

				<tr>
					<td height="40"></td>
				</tr>

				<!-- button -->
				<tr>
					<td align="center">
						<table class="textbutton" align="center" bgcolor="#21b6ae" border="0" cellspacing="0" cellpadding="0" style=" border-radius:30px; box-shadow: 0px 1px 0px #d4d2d2;">
							<tr>
								<td height="55" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color:#7f8c8d; line-height:30px; font-weight: bold;padding-left: 25px;padding-right: 25px;">
									<a href="http://localhost:8000/users/resepc/{{code}}/" target="_blank">Restablecer contraseña</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- end button -->

			</table>
		</td>
	</tr>



</table>
</td>
</tr>
</table>
</body>
</html>