{% load staticfiles %}
<!doctype html>
<html class="fixed">

<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<meta name="keywords" content="HTML5 Admin Template" />
	<meta name="description" content="Porto Admin - Responsive HTML5 Template">
	<meta name="author" content="okler.net">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />

	<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

	<link rel="stylesheet" href="{% static 'assets/stylesheets/toastr.min.css' %}">

	<!-- Head Libs -->
	<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
</head>

<body>
	<!-- start: page -->
	<section class="body-sign">
		<div class="center-sign">
			<a href="/" class="logo pull-left">
				<img src="{% static 'assets/images/logos.png' %}" height="54" alt="Porto Admin" />
			</a>
			<form id="form_res">{% csrf_token %}
				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Recuperar contraseña</h2>
					</div>
					<div class="panel-body">
						<div class="alert alert-info">
							<p class="m-none text-weight-semibold h6">El codigo de recuperación ha expirado</p>
						</div>
							<div class="form-group mb-none">
								<div class="input-group">
									<input name="email" type="email" placeholder="E-mail" class="form-control input-lg" />
									<span class="input-group-btn">
									<input class="btn btn-primary btn-lg"type="submit" value="Recuperar">
									</span>
								</div>
							</div>
					</div>
				</div>
			</form>

			<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016. All Rights Reserved.</p>
		</div>
	</section>
	<!-- end: page -->

	<!-- Vendor -->
	<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
	<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
	<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="{% static 'assets/javascripts/theme.js' %}"></script>

	<!-- Theme Custom -->
	<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

	<!-- Theme Initialization Files -->
	<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>
	<script src="{% static 'assets/javascripts/toastr.min.js' %}"></script>
	<script src="{% static 'js/users.js' %}"></script>
	<script type="text/javascript">
	document.onload = inicio();
	function inicio() {
			{% if messages %}
					{% for msg in messages %}
							{% if msg.tags == 'success' %}
									toastr.options={"progressBar": true}
									toastr.success('{{ msg }}','Info')
							{% else %}
									{% if msg.tags == 'warning' %}
											toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
											toastr.warning('{{ msg }}','Info')
									{% else %}
											toastr.options={"progressBar": true}
											toastr.error('{{ msg }}','Info')
									{% endif %}
							{% endif %}
					{% endfor %}
			{% endif %}
	}
	</script>

</body>

</html>
