{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
    {% endblock css %}
    <!-- start: page -->
    {% block content %}
    <header class="page-header">
    <h2>Mi perfil</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Perfil</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
                <div class="row">
                        <div class="col-md-12">
                            <form role="form" enctype="multipart/form-data" id="formularioModificar" name="formularioModificar" class="form-horizontal" onsubmit="return false;" method="post">{% csrf_token %}
                                <section class="panel">
                                    <header class="panel-heading">
                                        <div class="panel-actions">
                                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                                        </div>

                                        <h2 class="panel-title">Mi perfil</h2>
                                        <p class="panel-subtitle">
                                            Puede actualizar los datos en el siguiente formulario!!
                                        </p>
                                    </header>
                                    <div class="panel-body">
                                        <div class="validation-message">
                                            <ul></ul>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre de Usuario <span class="required"></span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="username" class="form-control" title="Por favor ingrese nombre de usuario." placeholder="{{user.username}}" value="{{user.username}}" disabled="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre <span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="nombre" class="form-control" title="Por favor ingrese nombre." placeholder="{{user.us_nombre}}" value="{{user.us_nombre}}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Apellidos<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="apellido" class="form-control" title="Por favor ingrese ellidos." placeholder="{{user.us_apellidos}}" value="{{user.us_apellidos}}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Telefono<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="telefono" class="form-control" title="Por favor ingrese telefono." placeholder="{{user.us_telefono_movil}}" value="{{user.us_telefono_movil}}" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Avatar<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input id="id_avatar_usuario" name="id_avatar_usuario" class="file" accept="image/*" type="file">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email<span class="required">*</span></label>
                                            <div class="col-sm-9">
                                                <input type="text" name="email" class="form-control" title="Por favor ingrese email." placeholder="{{user.email}}" value="{{user.email}}" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="panel-footer">
                                        <div class="row">
                                            <div class="col-sm-9 col-sm-offset-3">
                                                <button type="submit" onclick="usuario_modificar('{% url "users_app:modificarUsuario" %}')" id="btn_modificar" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </footer>
                                </section>
                            </form>
                        </div>
                    </div>
    {% endblock content %}
    <!-- end: page -->
    {% block js %}
    <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
        <!-- Examples -->
        <script src="{% static 'assets/javascripts/forms/examples.validation.js' %}"></script>
        <!--Users -->
        <script src="{% static 'js/users.js' %}"></script>
    {% endblock js %}
