{% load staticfiles %}
<!doctype html>
<html class="fixed">

<head>

<!-- Basic -->
<meta charset="UTF-8">
<title>Reestablecer contraseña</title>

<meta name="keywords" content="HTML5 Admin Template" />
<meta name="description" content="Porto Admin - Responsive HTML5 Template">
<meta name="author" content="okler.net">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />

<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

<link rel="stylesheet" href="{% static 'assets/stylesheets/toastr.min.css' %}">

<!-- Head Libs -->
<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
</head>

<body>
<!-- start: page -->
<section class="body-sign">
<div class="center-sign">
<a href="/" class="logo pull-left">
<img src="{% static 'assets/images/logos.png' %}" height="54" alt="Porto Admin" />
</a>
<form id="form-reset" class="m-t" role="form" onsubmit="return validarPasswd()">{% csrf_token %}
<div class="panel panel-sign">
<div class="panel-title-sign mt-xl text-right">
	<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Reestablecer</h2>
</div>
<div class="panel-body">
	<form action="index.html" method="post">
		<div class="form-group mb-lg">
		<input class="form-control hide" placeholder="Password" name="code" id="code" value = '{{code}}'>
			<label>Password</label>
			<div class="input-group input-group-icon">
				<input type="password" class="form-control" placeholder="Password" name="cont0" id="cont0" required="">
				<span class="input-group-addon">
						<span class="icon icon-lg">
							<i class="fa fa-user"></i>
						</span>
				</span>
			</div>
		</div>

		<div class="form-group mb-lg">
			<div class="clearfix">
				<label class="pull-left">Volver a escribir el password</label>
			</div>
			<div class="input-group input-group-icon">
				<input type="password" class="form-control" placeholder="Password" name="cont1" id="cont1" required="">
				<span class="input-group-addon">
						<span class="icon icon-lg">
							<i class="fa fa-lock"></i>
						</span>
				</span>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<div class="checkbox-custom checkbox-default">
					<input id="RememberMe" name="rememberme" type="checkbox" />
					
				</div>
			</div>
			<div class="col-sm-4 text-right">
				<button type="submit" class="btn btn-primary hidden-xs">Sign In</button>
				<button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Aceptar</button>
			</div>
		</div>

		
	</form>
</div>
</div>
</form>

<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016. All Rights Reserved.</p>
</div>
</section>
<!-- end: page -->

<!-- Vendor -->
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'assets/javascripts/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>
<script src="{% static 'assets/javascripts/toastr.min.js' %}"></script>
<script src="{% static 'js/reset.js' %}"></script>

<script type="text/javascript">

document.onload = inicio();
function inicio() {
{% if messages %}
{% for msg in messages %}
		{% if msg.tags == 'success' %}
				toastr.options={"progressBar": true}
				toastr.success('{{ msg }}','Info')
		{% else %}
				{% if msg.tags == 'warning' %}
						toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
						toastr.warning('{{ msg }}','Info')
				{% else %}
						toastr.options={"progressBar": true}
						toastr.error('{{ msg }}','Info')
				{% endif %}
		{% endif %}
{% endfor %}
{% endif %}
}
</script>

</body>

</html>
