{% load staticfiles %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">
        <title>Crear una cuenta</title>

		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />

		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">
        <link rel="stylesheet" href="{% static 'assets/stylesheets/toastr.min.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/" class="logo pull-left">
					<img src="{% static 'assets/images/logos.png' %}" height="54" alt="Smart City" />
				</a>

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> Registrarse</h2>
					</div>
					<div class="panel-body">
						<form id="form_registrar" name="form_registrar" onsubmit="return false;" enctype="multipart/form-data" method="POST">{% csrf_token %}
							<div class="form-group mb-lg">
								<label>Nombre</label>
								<input id="reg_nombre" name="reg_nombre" maxlength="100" type="text" class="form-control input-md" required />
							</div>

							<div class="form-group mb-lg">
								<label>Apellidos</label>
								<input id="reg_apellido" name="reg_apellido" maxlength="100" type="text" class="form-control input-md" required />
							</div>

                            <div class="form-group mb-lg">
								<label>Nombre de usuario</label>
								<input id="reg_usuario" name="reg_usuario" maxlength="100" type="text" class="form-control input-md" required />
							</div>

                            <div class="form-group mb-lg">
								<label>Teléfono</label>
								<input id="reg_telefono" name="reg_telefono" maxlength="10" type="text" class="form-control input-md" />
							</div>

                            <div class="form-group mb-lg">
								<label>Correo electrónico</label>
								<input id="reg_email" name="reg_email" type="email" class="form-control input-md" required />
							</div>

							<div class="form-group mb-none">
								<div class="row">
									<div class="col-sm-6 mb-lg">
										<label>Contraseña</label>
										<input id="reg_pass1" name="reg_pass1" type="password" class="form-control input-md" />
									</div>
									<div class="col-sm-6 mb-lg">
										<label>Confirmar contraseña</label>
										<input id="reg_pass2" name="reg_pass2" type="password" class="form-control input-md" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4 pull-right">
									<button onclick="registrarUsuario()" type="button" id="btnRegistrar" class="btn btn-primary hidden-xs">Crear cuenta</button>
								</div>
							</div>

                            <hr>
							<p class="text-center">¿Ya posee una cuenta? <a href="{% url 'users_app:login' %}">Iniciar sesión</a>
                                <br>

						</form>
					</div>
				</div>

				<p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016. All Rights Reserved.</p>
			</div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
        <script src="{% static 'js/users.js' %}"></script>
        <script src="{% static 'assets/javascripts/toastr.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>

	</body>
</html>
