{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'assets/stylesheets/ubicaciones.css' %}" />
<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/elusive-icons/css/elusive-webfont.css' %}" />

{% endblock css %}
{% block content %}
<header class="page-header">
    <h2>Geolocalizacion</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Calles</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col-md-6">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
            </div>
            <h2 class="panel-title">Todos los registros de Calles</h2>
            <p class="panel-subtitle">
                Revisar cada registro!!
            </p>
        </header>
        <div class="panel-body">
            <div class="validation-message">
                <ul></ul>
            </div>
            <div align="center">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"  onclick="agregar()"><i class="fa fa-plus"></i> </button>
            </div>
            {% if calles %}
            <div class="row">

                <div class="col-sm-6">
                    <div class="mb-md">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in calles %}
                    <tr class="gradeX">
                        <td>{{cal.cal_nombre}}</td>
                        <td class="actions">
                            <a onclick="editarCalle({{cal.cal_id}})" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a onclick="eliminar({{cal.cal_id}})"class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-globe"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-weight-semibold mt-none text-center">Sin Datos</h3>
                    <p class="text-center">No Existe información por el momento, Dar clic en el botón agregar</p>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
<div class="col-md-6">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
            </div>
            <h2 class="panel-title">Todos los registros de Intersecciones</h2>
            <p class="panel-subtitle">
                Revisar cada registro!!
            </p>
        </header>
        <div class="panel-body">
            <div class="validation-message">
                <ul></ul>
            </div>
            <div align="center">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"  onclick="agregarInterseccion()"><i class="fa fa-plus"></i> </button>
            </div>
            {% if intersecciones %}
            <div class="row">

                <div class="col-sm-6">
                    <div class="mb-md">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-default1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for int in intersecciones %}
                    <tr class="gradeX">
                        <td>{{int.int_nombre}}</td>
                        <td class="actions">
                            <a onclick="editarInterseccion({{int.int_id}})" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a onclick="eliminarInterseccion({{int.int_id}})"class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                            <a onclick="verInterseccion({{int.int_id}})"><i class="el-icon-website"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-globe"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-weight-semibold mt-none text-center">Sin Datos</h3>
                    <p class="text-center">No Existe información por el momento, Dar clic en el botón agregar</p>
                </div>
            </section>
            {% endif %}
        </div>
    </div>
</div>

<!--MODALES -->
<div class="modal fade" id="modalAgregarCalle" role="dialog" aria-labelledby="modalLabelCalle" aria-hidden="true">
    <form method="post" action="/maps/guardarCalle/" id="formCalle" name="formCalle">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="resetFormCallesIntersecciones('modalAgregarCalle', 'txt_nombre_calle')" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modalLabelCalle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="padding-top: 15px;">
                        <label for="txt_nombre_calle" class="col-sm-2 control-label ">Nombre</label>
                        <div class="col-sm-8" style="padding-bottom: 15px;">
                            <input id="txt_nombre_calle" name="txt_nombre_calle" type="text" class="form-control" autofocus required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            <input id="identificadorCalle" name="identificadorCalle" type="text" class="hide" value="0">
                        </div>
                        <div class="col-sm-2">
                            <h6 style="margin-top: -8px;margin-bottom: 1px;text-align: center;">Principal</h6>
                            <div id="id_tipo_entrada_ui" align="center" class="form-group">
                                <div id="check" class="switch switch-sm switch-success">
                                    <input type="checkbox" id="switch" name="switch" data-plugin-ios-switch  />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="right" id="divBotonesAgregarCalle">
                        <button id="btnGuardarYAddCalle" onclick="guardarYAddOtraCalleInter('txt_nombre_calle', 'formCalle', 'btnGuardarYAddCalle', '/maps/m/guardarCalleModal/', 'modalAgregarCalle')" class="btn btn-primary" type="button"><i class="fa fa-check-square-o"></i> Guardar y agregar otra</button>
                        <input id="btnGuardarCalle" class="btn btn-success" type="submit" value="Guardar">
                        <button class="btn btn-default pull-left" type="button" onclick="resetFormCallesIntersecciones('modalAgregarCalle', 'txt_nombre_calle')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade bs-example-modal-sm" id="modalEliminarCalle" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <form method="post" action="/maps/eliminarCalle/" id="formEliminiarCalle" name="formEliminiarCalle">{% csrf_token %}
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Realmente desea eliminar</h4>
                    <input type="text" class="hide" id="txt_id_calle" name="txt_id_calle">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-lg" value="Aceptar" ></button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="modal fade" id="modalAgregarInterseccion" role="dialog" aria-labelledby="modalLabelInterseccion" aria-hidden="true">
    <form method="post" action="/maps/guardarInterseccion/" id="formInterseccion" name="formInterseccion">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="resetFormCallesIntersecciones('modalAgregarInterseccion', 'txt_nombre_interseccion')" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modalLabelInterseccion"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="padding-top: 15px; padding-bottom: 15px">
                        <label for="txt_nombre_interseccion" class="col-sm-2 control-label ">Nombre</label>
                        <div class="col-sm-10">
                            <input id="txt_nombre_interseccion" name="txt_nombre_interseccion" type="text" class="form-control" autofocus required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            <input id="identificadorInterseccion" name="identificadorInterseccion" type="text" class="hide" value="0">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="right" id="divBotonesAgregarInterseccion">
                        <button id="btnGuardarYAddInterseccion" onclick="guardarYAddOtraCalleInter('txt_nombre_interseccion', 'formInterseccion', 'btnGuardarYAddInterseccion', '/maps/m/guardarInterseccionModal/', 'modalAgregarInterseccion')" class="btn btn-primary" type="button"><i class="fa fa-check-square-o"></i> Guardar y agregar otra</button>
                        <input id="btnGuardarInterseccion" class="btn btn-success" type="submit" value="Guardar">
                        <button class="btn btn-default pull-left" type="button" onclick="resetFormCallesIntersecciones('modalAgregarInterseccion', 'txt_nombre_interseccion')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade bs-example-modal-sm" id="modalEliminarInterseccion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form method="post" action="/maps/eliminarInterseccion/"  id="formEliminiarInterseccion" >{% csrf_token %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Realmente desea eliminar</h4>
                    <input type="text" class="hide" id="txt_id_interseccion" name="txt_id_interseccion">

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-lg" value="Aceptar" ></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--ENDMODALES -->
{% endblock content %}
<!-- end: page -->
{% block js %}
<!-- Specific Page Vendor -->
<script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
<!-- Specific Page Vendor -->
<script src="{% static 'assets/select/select2.js' %}"></script>

<script src="{% static 'assets/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>

<!-- Examples -->
<script src="{% static 'assets/javascripts/tables/examples.datatables.default.js' %}"></script>
<script src="{% static 'assets/javascripts/tables/examples.datatables.row.with.details.js' %}"></script>
<script src="{% static 'assets/javascripts/tables/examples.datatables.tabletools.js' %}"></script>
<script src="{% static 'js/calles.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function(){
        $("#modalAgregarCalle").data("test", {m: ""});
        $("#modalAgregarInterseccion").data("test", {m: ""});
    });
</script>
{% endblock js %}
