{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
    <script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/selective/css/selectize.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/selective/css/selectize.bootstrap3.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
    {% endblock css %}
    {% block content %}
    <header class="page-header">
    <h2>Mapas</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Geolocalización</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
    <!-- start: page -->
    <menu id="content-menu" class="inner-menu" role="menu">
        <div class="nano">
            <div class="nano-content">

                <div class="inner-menu-toggle-inside">
                    <a href="#" class="inner-menu-collapse">
                        <i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide Options
                    </a>
                    <a href="#" class="inner-menu-expand" data-open="inner-menu">
                        Show Options <i class="fa fa-chevron-down"></i>
                    </a>
                </div>

                <div class="inner-menu-content">
                <div class="row">
                    <div class="col-sm-10">
                        <p class="title">Mapas Guardados</p>
                    </div>
                    <div class="col-sm-2">
                        <a title="Refrescar mapa" onclick="localizame()" class="location-action location-remove text-success">
                            <i class="fa fa-refresh fa-2x"></i>
                        </a>
                    </div>
                </div>

                    <div id="recargo" class="form-group">
                        {% if mapas %}
                        <ul id="MarkersList" class="list-markers list-unstyled mb-lg">
                        {% for map in mapas %}
                            <li>
                                <p>{{map.map_nombre}}</p>
                                <a onclick="dibujarMapa({{map.map_latitud}}, {{map.map_longitud}},'{{map.map_nombre}}', '{{map.map_localidad.loc_nombre}}', '{{map.map_descripcion}}', {{map.Mapas.all.count}}, {{map.map_id}})"  class="location-action location-center">
                                    <i class="fa fa-map-marker"></i>
                                </a>
                                <!--<a  onclick="editar({{map.map_id}})" href="#" class="location-action location-edit">
                                    <i class="fa fa-road"></i>
                                </a>-->
                                <a onclick="eliminar({{map.map_id}})" class="location-action location-remove text-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                           <section class="panel panel-featured-left panel-featured-primary">
                            <div class="panel-body">
                                <div class="widget-summary widget-summary-xs">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-primary">
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Sin Mapas</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {% endif %}

                        <div id="botones" class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block mb-lg" onclick="abrirModalMarkers()" type="button">Guardar Mapa</button>
                            </div>
                            {% if mapas %}
                            <div class="col-sm-6">
                                <button onclick="eliminar(0)" id="MarkerRemoveAll" class="btn btn-danger btn-block mb-lg" type="button">Eliminar Todo</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </menu>
    <div class="inner-body">
        <div id="gmap"></div>
    </div>
    <div class="row">
        <div class="row">
    </div>

    <!--MODALES -->
    <div id="MarkerModal" class="modal fade" role="dialog" aria-labelledby="MarkerModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Marcar esta ubicación</h4>
                </div>
                <form id="formulario_ubicacion" role="form" class="form-horizontal" method="post" onsubmit="return false;">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre de mapa<span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Ingrese un nombre para el mapa" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label ">Dependencia</label>
                            <div class="col-sm-8">
                                <select name="id_categoria_padre_mapa" id="id_categoria_padre_mapa" style="width: 99%;">
                                    <option value="0">Escoger una ubicación</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" onclick="abrirModalAgregarDependencia()" class="btn btn-success btn-xs active" style="margin-left: -5px" title="Agregar nueva"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripción <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <textarea id="txtDescripcion" name="txtDescripcion" style="resize: none;" rows="3" class="form-control" placeholder="Describa algo" required></textarea>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-sm-3 control-label">Favorito</label>
                            <div class="col-sm-9">
                                <div id="id_tipo_entrada_ui" align="center" class="form-group">
                                   <div id="check" class="switch switch-sm switch-success">
                                        <input type="checkbox" id="switch" name="switch" data-plugin-ios-switch  />
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button onclick="agregarLocalidad()" class="btn btn-primary">Guardar</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="modalEliminar" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form id="formularioEliminar" name="formularioEliminar">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel5">Realmente desea eliminar</h4>
                    <input type="text" id="idEliminar" class="hide">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" onclick="eliminarObjeto()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {% include 'modales.html' %}

    <!--FIN MODALES-->
    {% endblock content %}

    {% block js %}
    <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <!-- Specific Page Vendor -->
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyC0Fkf1K0R83SbVBnokQp_mq2vkjzhANjQ"></script>
        <script src="{% static 'assets/javascripts/maps/snazzy.themes.js' %}"></script>
        <script src="{% static 'assets/javascripts/theme.js' %}"></script>
        <script src="{% static 'assets/vendor/gmaps/gmaps.js' %}"></script>
        <!--<script src="{% static 'assets/javascripts/forms/examples.validation.js' %}"></script>-->
        <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
        <script src="{% static 'assets/selective/js/standalone/selectize.js' %}"></script>
        <script src="{% static 'assets/select/select2.js' %}"></script>

        <script>
            cargar_ubicaciones_select("id_categoria_padre_mapa");
            $("#select_dispositivo").select2({
                allowClear: true
            });
            $("#select_tipo").select2({
                allowClear: true,
                minimumResultsForSearch: -1
            });
        </script>

        <!-- Examples -->
        <script src="{% static 'js/geo.js' %}"></script>
        <script src="{% static 'assets/javascripts/maps/examples.gmap.js' %}"></script>

    {% endblock js %}