{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'assets/stylesheets/ubicaciones.css' %}" />
<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/selective/css/selectize.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/selective/css/selectize.bootstrap3.css' %}"/>
{% endblock css %}
{% block content %}
<header class="page-header">
    <h2>Sensores</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Sensores</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col-md-12">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
            </div>
            <h2 class="panel-title">Todos los registros</h2>
            <p class="panel-subtitle">
                Revisar cada registro!!
            </p>
        </header>
        <div class="panel-body">
            <div class="validation-message">
                <ul></ul>
            </div>

            {% if sensores %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Dispositivo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sen in sensores %}
                    <tr class="gradeX">
                        <td>{{sen.sact_nombre}}</td>
                        <td>{{sen.sact_tipo}}</td>
                        <td>{{ sen.dis_id.dis_nombre }}</td>
                        <td class="actions">
                            <a onclick="editar({{sen.sact_id}})" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a onclick="eliminar({{sen.sact_id}})" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <section class="panel">
                <header class="panel-heading bg-white">
                    <div class="panel-heading-icon bg-primary mt-sm">
                        <i class="fa fa-globe"></i>
                    </div>
                </header>
                <div class="panel-body">
                    <h3 class="text-weight-semibold mt-none text-center">Sin Datos</h3>
                    <p class="text-center">No Existe información por el momento, Dar clic en el botón agregar</p>
                </div>
            </section>
            {% endif %}
        </div>
    </div>

</div>

<!--MODALES -->
<!--<div class="modal fade" id="modalAgregar" role="dialog" aria-labelledby="modalLabelSensor" aria-hidden="true">
    <form method="post" action="/sensores/guardarSensor/" id="formSensor" name="formSensor">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="resetFormCallesIntersecciones('modalAgregar', 'txt_nombre')" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="modalLabelSensor"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Tipo</label>
                        <div class="col-sm-10">
                            <select name="txt_tipo" id="txt_tipo" class="select2" style="width: 99%;">
                                <option value="semaforo">Semaforo</option>
                                <option value="ultrasonico">Ultrasónico</option>
                            </select>
                            <input id="identificador" name="identificador" type="text" class="hide" value=0>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                        <div class="col-sm-10">
                            <input id="txt_nombre" name="txt_nombre" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">ID</label>
                        <div class="col-sm-10">
                            <input id="txt_id_sensor" name="txt_id_sensor" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_calles_editar" class="col-sm-3 control-label ">Calle</label>
                        <div class="col-sm-7">
                            <input type="text" id="txt_calles_editar" class="demo-default">
                        </div>
                        <div class="col-sm-2">
                            <h6 style="margin-top: -8px;margin-bottom: 1px;text-align: center;">Principal</h6>
                            <div id="id_tipo_entrada_editar" align="center" class="form-group">
                                <div id="check" class="switch switch-sm switch-success">
                                    <input type="checkbox" id="switch_editar" name="switch_editar" data-plugin-ios-switch  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_intersecciones_editar" class="col-sm-3 control-label ">Intersección</label>
                        <div class="col-sm-9">
                            <input type="text" id="txt_intersecciones_editar" class="demo-default">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select_dispositivo_sen" class="col-sm-2 control-label ">Dispositivo</label>
                        <div class="col-sm-9">
                            <select name="select_dispositivo_sen" id="select_dispositivo_sen" style="width: 100%;">
                                <option value="0">Seleccione un dispositivo</option>
                                {% for d in dispositivos %}
                                <option value="{{ d.dis_id }}">{{ d.dis_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" onclick="abrirModalAgregarDispositivo()" class="btn btn-success btn-xs active" style="margin-left: -5px" title="Agregar nuevo"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="modal-footer">
                    <div class="right" id="divBotonesAgregarSensor">
                        <button id="btnGuardarYAddSensor" onclick="guardarYAddOtraCalleInter('txt_nombre', 'formSensor', 'btnGuardarYAddSensor', '/sensores/m/guardarSensorModal/', 'modalAgregar')" class="btn btn-primary" type="button"><i class="fa fa-check-square-o"></i> Guardar y agregar otro</button>
                        <input id="btnGuardarSensor" class="btn btn-success" type="submit" value="Guardar">
                        <button class="btn btn-default pull-left" type="button" onclick="resetFormCallesIntersecciones('modalAgregar', 'txt_nombre')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
-->
<div class="modal fade bs-example-modal-sm" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <form method="post" action="/sensores/eliminarSensor/"  id="formEliminiarSensor" >{% csrf_token %}
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="mySmallModalLabel">Realmente desea eliminar</h4>
                    <input type="text" class="hide" id="txt_id" name="txt_id">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-lg" value="Aceptar" ></button>
                </div>
            </div>
        </div>
    </form>
</div>

{% include 'modales.html' %}
<!--ENDMODALES -->

{% endblock content %}
<!-- end: page -->
{% block js %}
<!-- Specific Page Vendor -->
<script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
<!-- Specific Page Vendor -->
<script src="{% static 'assets/select/select2.js' %}"></script>

<script src="{% static 'assets/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
<script src="{% static 'assets/selective/js/standalone/selectize.js' %}"></script>


<!-- Examples -->
<script src="{% static 'assets/javascripts/tables/examples.datatables.default.js' %}"></script>
<script src="{% static 'assets/javascripts/tables/examples.datatables.row.with.details.js' %}"></script>
<script src="{% static 'assets/javascripts/tables/examples.datatables.tabletools.js' %}"></script>
<script src="{% static 'js/sensores.js' %}"></script>


<script type="text/javascript">
    $("#select_dispositivo").select2({
        allowClear: true
    });
    $("#select_tipo").select2({
        allowClear: true,
        minimumResultsForSearch: -1
    });

    $(document).ready(function(){
        cargar_categorias();
    });
</script>
{% endblock js %}
