{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/stylesheets/ubicaciones.css' %}" />
    <script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />

    {% endblock css %}
    {% block content %}
    <header class="page-header">
    <h2>Dispositivos</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Dispositivos</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
     <div class="row">
        <div class="col-md-12">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
            </div>
            <h2 class="panel-title">Todos los registros</h2>
            <p class="panel-subtitle">
                Revisar cada registro!!
            </p>
        </header>
        <div class="panel-body">
            <div class="validation-message">
                <ul></ul>
            </div>
            <div align="center">
                <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"  onclick="agregar()"><i class="fa fa-plus"></i> </button>
            </div>
        {% if dispositivos %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Mac</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for disp in dispositivos %}

                    <tr class="gradeX">
                        <td>{{disp.dis_nombre}}</td>
                        <td>{{disp.dis_mac}}</td>
                        <td class="actions">
                            <a onclick="editar({{disp.dis_id}})" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a onclick="eliminar({{disp.dis_id}})"class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
                <section class="panel">
                    <header class="panel-heading bg-white">
                        <div class="panel-heading-icon bg-primary mt-sm">
                            <i class="fa fa-globe"></i>
                        </div>
                    </header>
                    <div class="panel-body">
                        <h3 class="text-weight-semibold mt-none text-center">Sin Datos</h3>
                        <p class="text-center">No Existe información por el momento, Dar clic en el botón agregar</p>
                    </div>
                </section>
            {% endif %}
            </div>
        </div>
    </div>

    <!--MODALES -->
    <div class="modal fade" id="modalAgregar" role="dialog" aria-labelledby="modalLabelDispositivo" aria-hidden="true">
        <form method="post" action="/sensores/guardarDispositivo/" id="formDispositivo" name="formDispositivo">{% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="resetFormCallesIntersecciones('modalAgregar', 'txt_nombre')" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="modalLabelDispositivo"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                            <div class="col-sm-10">
                                <input id="txt_nombre" name="txt_nombre" type="text" class="form-control" autofocus required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                <input id="identificador" name="identificador" type="text" class="hide" value=0>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label ">Mac</label>
                            <div class="col-sm-10">
                                <input id="txt_mac" name="txt_mac" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label ">Descripción</label>
                            <div class="col-sm-10">
                                <input id="txt_descripcion" name="txt_descripcion" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label ">Localización</label>
                            <div class="col-sm-10">
                                <input id="txt_loc" name="txt_loc" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="right" id="divBotonesAgregarDispositivo">
                            <button id="btnGuardarYAddDispositivo" onclick="guardarYAddOtraCalleInter('txt_nombre', 'formDispositivo', 'btnGuardarYAddDispositivo', '/sensores/m/guardarDispositivoModal/', 'modalAgregar')" class="btn btn-primary" type="button"><i class="fa fa-check-square-o"></i> Guardar y agregar otro</button>
                            <input id="btnGuardarDispositivo" class="btn btn-success" type="submit" value="Guardar">
                            <button class="btn btn-default pull-left" type="button" onclick="resetFormCallesIntersecciones('modalAgregar', 'txt_nombre')">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade bs-example-modal-sm" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form method="post" action="/sensores/eliminarDispositivo/"  id="formDispositivoE" >{% csrf_token %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Realmente desea eliminar</h4>
                    <input type="text" class="hide" id="txt_id" name="txt_id" />

                </div>
            <div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-lg" value="Aceptar" ></button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--ENDMODALES -->
    {% endblock content %}
    <!-- end: page -->
    {% block js %}
    <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
                <!-- Specific Page Vendor -->
        <script src="{% static 'assets/select/select2.js' %}"></script>

        <script src="{% static 'assets/datatables/jquery.dataTables.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>

        <!-- Examples -->
        <script src="{% static 'assets/javascripts/tables/examples.datatables.default.js' %}"></script>
        <script src="{% static 'assets/javascripts/tables/examples.datatables.row.with.details.js' %}"></script>
        <script src="{% static 'assets/javascripts/tables/examples.datatables.tabletools.js' %}"></script>
        <script src="{% static 'js/dispositivos.js' %}"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $("#modalAgregar").data("test", {m: ""});
            });
        </script>
    {% endblock js %}
