{% load staticfiles %}
<!DOCTYPE html>

<html class="fixed">
<head>

<!-- Basic -->
<meta charset="UTF-8">

<title>Semáforo Inteligente | IOT </title>

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />

<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

{% block css %}{% endblock css %}

<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

<link rel="stylesheet" href="{% static 'assets/stylesheets/toastr.min.css' %}">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">
<!-- Head Libs -->
<link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
<!-- Head Libs -->
</head>
<body>
<section class="body">

<!-- start: header -->
<header class="header">
<div class="logo-container">
<a href="../" class="logo">
	<img src="{% static 'assets/images/logos.png' %}" height="35" alt="Porto Admin" />
</a>
<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
	<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
</div>
</div>

<!-- start: search & user box -->
<div class="header-right">


<span class="separator"></span>

<div id="userbox" class="userbox">
	<a href="#" data-toggle="dropdown">
		<figure class="profile-picture">
            {% if user.us_avatar %}
			<img src="{{ user.us_avatar.url }}" alt="{{user.username}}" class="img-circle" data-lock-picture="{{ user.us_avatar.url }}" />
            {% else %}
            <img src="{% static 'assets/images/!logged-user.jpg' %}" alt="{{user.username}}" class="img-circle" data-lock-picture="{% static 'assets/images/!logged-user.jpg' %}" />
            {% endif %}
		</figure>
		<div class="profile-info" data-lock-name="{{user.username}}" data-lock-email="{{user.email}}">
			<span class="name">{{user.username}}</span>
			<span class="role">{% if user.is_superuser %}Administrador{% else %}Usuario{% endif %}</span>
		</div>

		<i class="fa custom-caret"></i>
	</a>

	<div class="dropdown-menu">
		<ul class="list-unstyled">
			<li class="divider"></li>
			<li>
				<a role="menuitem" tabindex="-1" href="/users/perfil/"><i class="fa fa-user"></i>Mi Perfil</a>
			</li>
			<!--<li>
				<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
			</li>-->
			<li>
				<a role="menuitem" tabindex="-1" href="/users/salir/"><i class="fa fa-power-off"></i> Salir</a>
			</li>
		</ul>
	</div>
</div>
</div>
<!-- end: search & user box -->
</header>
<!-- end: header -->

<div class="inner-wrapper">
<!-- start: sidebar -->
<aside id="sidebar-left" class="sidebar-left">

<div class="sidebar-header">
	<div class="sidebar-title">
		Navigation
	</div>
	<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
		<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
	</div>
</div>

<div class="nano">
	<div class="nano-content">
		<nav id="menu" class="nav-main" role="navigation">
			<ul class="nav nav-main">
				<li id="dashboard" class="nav-active">
					<a href="/">
						<i class="fa fa-dashboard" aria-hidden="true"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li id="menu_localidades" class="nav">
					<a  href="/localidades/index/">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<span>Localizacion</span>
					</a>
				</li>
				<li id="mapas" class="nav-parent">
					<a>
						<i class="fa fa-street-view" aria-hidden="true"></i>
						<span>Geolocalizacion</span>
					</a>
					<ul class="nav nav-children">
						<li id="mapa">
					<a href="/maps/index/">
						<i class="fa fa-map" aria-hidden="true"></i>
						<span>Mapas</span>
					</a>
					</li>
					<li id="calle">
					<a href="/maps/calles/">
						<i class="fa fa-road" aria-hidden="true"></i>
						<span>Calles</span>
					</a>
					</li>
					</ul>
				</li>
				<li id="sensores" class="nav-parent">
					<a>
						<i class="fa fa-gears" aria-hidden="true"></i>
						<span>Configuración</span>
					</a>
					<ul class="nav nav-children">
						<li id="dispositivo">
							<a href="/sensores/index_d/">
							<i class="fa fa-microchip" aria-hidden="true"></i>
								 Dispositivos
							</a>
						</li>
						<li id="sensor" >
							<a href="/sensores/index_s/">
							<i class="fa fa-th-list" aria-hidden="true"></i>
								Sensores
							</a>
						</li>

					</ul>
				</li>
			</ul>
		</nav>

		<hr class="separator" />



		<hr class="separator" />

	</div>

</div>

</aside>
<!-- end: sidebar -->

<section role="main" class="content-body">
<!-- start: page -->
{% block content %}{% endblock content %}
<!-- end: page -->
</section>
</div>

<aside id="sidebar-right" class="sidebar-right">
<div class="nano">
<div class="nano-content">
	<a href="#" class="mobile-close visible-xs">
		Collapse <i class="fa fa-chevron-right"></i>
	</a>

	<div class="sidebar-right-wrapper">

		<div class="sidebar-widget widget-calendar">
			<div data-plugin-datepicker data-plugin-skin="dark" ></div>

			<ul>
				<li>
                    <h5>Última conexión</h5>
					<time datetime="{{ user.last_login }}">{{ user.last_login }}</time>
					<span>{{ user.us_nombre }} {{ user.us_apellidos }}</span>
				</li>
			</ul>
		</div>

		<!--<div class="sidebar-widget widget-friends">
			<h6>Friends</h6>
			<ul>
				<li class="status-online">
					<figure class="profile-picture">
						<img src="{% static 'assets/images/!sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
					</figure>
					<div class="profile-info">
						<span class="name">Joseph Doe Junior</span>
						<span class="title">Hey, how are you?</span>
					</div>
				</li>
				<li class="status-online">
					<figure class="profile-picture">
						<img src="{% static 'assets/images/!sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
					</figure>
					<div class="profile-info">
						<span class="name">Joseph Doe Junior</span>
						<span class="title">Hey, how are you?</span>
					</div>
				</li>
				<li class="status-offline">
					<figure class="profile-picture">
						<img src="{% static 'assets/images/!sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
					</figure>
					<div class="profile-info">
						<span class="name">Joseph Doe Junior</span>
						<span class="title">Hey, how are you?</span>
					</div>
				</li>
				<li class="status-offline">
					<figure class="profile-picture">
						<img src="{% static 'assets/images/!sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
					</figure>
					<div class="profile-info">
						<span class="name">Joseph Doe Junior</span>
						<span class="title">Hey, how are you?</span>
					</div>
				</li>
			</ul>
		</div>
        -->
	</div>
</div>
</div>
</aside>
</section>

<!-- Vendor -->
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/validaciones/jquery-numeric.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'assets/vendor/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
<script src="{% static 'assets/vendor/ios7-switch/ios7-switch.js' %}"></script>

<script src="{% static 'assets/javascripts/toastr.min.js' %}"></script>
<script src="{% static 'assets/javascripts/socket.io.js' %}"></script>

<!--Autocompletar-->
<script type="text/javascript" src="{% static 'assets/autocomplete/js/bsn.AutoSuggest_c_2.0.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/autocomplete/css/autosuggest_inquisitor.css' %}" type="text/css" media="screen" charset="utf-8" />

<script src="{% static 'js/global.js' %}"></script>

<script type="text/javascript">
document.onload = inicio();
function inicio() {
{% if messages %}
	{% for msg in messages %}
			{% if msg.tags == 'success' %}
					toastr.options={"progressBar": true};
					toastr.success('{{ msg }}','Info');
			{% else %}
					{% if msg.tags == 'warning' %}
							toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
							toastr.warning('{{ msg }}','Info');
					{% else %}
							toastr.options={"progressBar": true};
							toastr.error('{{ msg }}','Info');
					{% endif %}
			{% endif %}
	{% endfor %}
{% endif %}
}
</script>

{% block js %}
{% endblock js %}

<!-- Theme Base, Components and Settings -->
<script src="{% static 'assets/javascripts/theme.js' %}"></script>

<!-- Theme Custom -->
<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>
<script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>

<!--Modales para usarlos globalmente-->
<div class="modal fade" id="gloModalDispositivo" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <form method="post" onsubmit="return false;" id="gloFormModalDispositivo" name="gloFormModalDispositivo">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">
                        Agregar Dispositivo
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                        <div class="col-sm-10">
                            <input id="txt_nombre_modal" name="txt_nombre_modal" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Mac</label>
                        <div class="col-sm-10">
                            <input id="txt_mac_modal" name="txt_mac_modal" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Descripción</label>
                        <div class="col-sm-10">
                            <input id="txt_descripcion_modal" name="txt_descripcion_modal" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label ">Localización</label>
                        <div class="col-sm-10">
                            <input id="txt_loc_modal" name="txt_loc_modal" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAgregarDispositivoModal" class="btn btn-success active" onclick="guardarDispositivoModal()" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="gloModalDependencia" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <form method="post" onsubmit="return false;" id="gloFormModalDependencia" name="gloFormModalDependencia">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel3">
                        Agregar Ubicación
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_ubicacion_modal" class="col-sm-2 control-label ">Nombre</label>
                        <div class="col-sm-10">
                            <input id="txt_ubicacion_modal" name="txt_ubicacion_modal" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="select_dependencia_modal" class="col-sm-2 control-label ">Dependencia</label>
                        <div class="col-sm-10">
                            <select name="select_dependencia_modal" id="select_dependencia_modal" style="width: 99%;">
                                <option value="0">Ninguna</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAgregarDependenciaModal" class="btn btn-success active" onclick="guardarDependenciaModal()" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("#select_dependencia_modal").select2({
        allowClear: true
    });
</script>
<!--Fin modales globales-->

</body>
</html>
