<div class="modal fade" id="modalCalles1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
        <form id="formularioCalles" name="formularioCalles" role="form" class="form-horizontal" method="post" onsubmit="return false;">{% csrf_token %}
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Agregar Sensor</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="txt_semaforo_nombre" class="col-sm-3 control-label ">Nombre</label>
                            <div class="col-sm-9">
                                <input id="txt_semaforo_nombre" name="txt_semaforo_nombre" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt_id_sensor" class="col-sm-3 control-label ">ID</label>
                            <div class="col-sm-9">
                                <input id="txt_id_sensor" name="txt_id_sensor" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off" maxlength="15">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-tags" class="col-sm-3 control-label ">Calle</label>
                            <div class="col-sm-7">
                                <input type="text" id="input-tags"  name="input-tags" class="demo-default" value="{{calles}}">
                            </div>
                            <div class="col-sm-2">
                                <h6 style="margin-top: -8px;margin-bottom: 1px;text-align: center;">Principal</h6>
                                <div id="id_tipo_entrada_ui" align="center" class="form-group">
                                    <div id="check" class="switch switch-sm switch-success">
                                        <input type="checkbox" id="switch1" name="switch1" data-plugin-ios-switch  />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-tags1" class="col-sm-3 control-label ">Intersección</label>
                            <div class="col-sm-9">
                                <input type="text" id="input-tags1"  name="input-tags1" class="demo-default" value="{{intersecciones}}">
                            </div>
                        </div>
                        <div id="calles">
                        </div>
                        <div class="form-group">
                            <label for="select_dispositivo" class="col-sm-3 control-label ">Dispositivo</label>
                            <div class="col-sm-8">
                                <select name="select_dispositivo" id="select_dispositivo" style="width: 100%;">
                                    <option value="0">Seleccione un dispositivo</option>
                                    {% for d in dispositivos %}
                                    <option value="{{ d.dis_id }}">{{ d.dis_nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" onclick="abrirModalAgregarDispositivo()" class="btn btn-success btn-xs active" style="margin-left: -5px" title="Agregar nuevo"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select_tipo" class="col-sm-3 control-label ">Tipo</label>
                            <div class="col-sm-9">
                                <select name="select_tipo" id="select_tipo" style="width: 100%;">
                                    <option value="semaforo">Semaforo</option>
                                    <option value="ultrasonico">Ultrasonico</option>
                                </select>
                            </div>
                        </div>
                        <input type="text" class="form-control hide" readonly="true" id="latitud" name="latitud">
                        <input type="text" class="form-control hide" readonly="true" id="longitud" name="longitud">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                        <button id="btnHideSensor" class="hide"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>