{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/stylesheets/ubicaciones.css' %}" />
    <script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
{% endblock css %}
{% block content %}
    <header class="page-header">
        <h2>Localidades</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><span>Localidades</span></li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
                <h2 class="panel-title">Países, Ciudades, Sectores</h2>
                <p class="panel-subtitle">
                    Puede buscar una ubicación o navegar por cada una de ellas
                </p>
            </header>
            <div class="panel-body">
                <div class="validation-message">
                    <ul></ul>
                </div>
                <div align="center">
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-info" onclick="agregar()"><i class="fa fa-plus"></i> </button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-info"  onclick="editar()"><i class="fa fa-edit"></i> </button>
                    <button type="button" class="mb-xs mt-xs mr-xs btn btn-danger"  onclick="eliminar()"><i class="fa fa-remove"></i> </button>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtAutocompletar">Escriba una ubicación</label>
                            <input class="form-control" placeholder="Buscar ubicación..." type="text" id="txtAutocompletar" value="" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>Todas las ubicaciones</label>
                        {% if ubicaciones %}
                            {% load mptt_tags %}
                            <div  name="treeBasic" id="treeBasic" data-anim-type="fadeInUp" data-anim-delay="300">
                                <ul>
                                    {% recursetree ubicaciones %}
                                    <li data-jstree='{ "icon" : "fa fa-map-marker" }' href="modalEliminar">
                                         <a href="{{node.loc_id}}">{{ node.loc_nombre }}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                            </ul>
                                        {% endif %}
                                    </li>
                                    {% endrecursetree %}
                                </ul>
                            </div>
                        {% else %}
                            <section class="panel">
                                <header class="panel-heading bg-white">
                                    <div class="panel-heading-icon bg-primary mt-sm">
                                        <i class="fa fa-globe"></i>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <h3 class="text-weight-semibold mt-none text-center">Sin Datos</h3>
                                    <p class="text-center">No Existe información por el momento, Dar clic en el botón agregar</p>
                                </div>
                            </section>
                        {% endif %}
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <!--MODALES -->
        <div class="modal fade" id="modalAgregar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <form method="post" action="/localidades/guardarUbicacion/" id="formUbicacion" name="formUbicacion" >{% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" onclick="resetArbolInput()" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                        <div class="row">
                        <label for="inputEmail3" class="col-sm-2 control-label">Principal</label>
                        <div id="id_tipo_entrada_ui" align="center" class="form-group">
                           <div id="check" class="switch switch-sm switch-success">
                                <input type="checkbox" onchange="cambiar()" id="switch" name="switch" data-plugin-ios-switch  />
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Nombre</label>
                                <div class="col-sm-10">
                                    <input id="ubicacion_nombre" name="ubicacion_nombre" type="text" class="form-control" required title="Rellene este campo." x-moz-errormessage='Rellene este campo.' autocomplete="off">
                                    <input id="identificador" name="identificador" type="text" class="hide" value=0>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row" id="ocultar_select">
                            {% if ubicaciones %}
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label ">Dependencia</label>
                                <div class="col-sm-10">
                                    <select name="id_categoria_padre" id="id_categoria_padre" style="width: 99%;">
                                        <option value="0">Seleccione Dependencia</option>
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        </div>
                        <div class="modal-footer">
                            <div class="right" id="divBotonesAgregar">
                                <button id="btnGuardarYAdd" onclick="guardarYAddOtro()" class="btn btn-primary" type="button"><i class="fa fa-check-square-o"></i> Guardar y agregar otra</button>
                                <input id="btnGuardar" class="btn btn-success" type="submit" value="Guardar">
                                <button class="btn btn-default pull-left" type="button" onclick="resetArbolInput()">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </div>
        </form>
    </div>
    <div class="modal fade bs-example-modal-sm" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <form id="formularioEliminar" name="formularioEliminar">
                    <button type="button" class="close" onclick="resetArbolInput()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Realmente desea eliminar</h4>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="resetArbolInput()">Cancelar</button>
                    <button type="button" onclick="eliminarObjeto()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!--ENDMODALES -->
    {% endblock content %}
    <!-- end: page -->
    {% block js %}
    <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-validation/jquery.validate.js' %}"></script>
        <script src="{% static 'assets/select/select2.js' %}"></script>
        <script src="{% static 'assets/vendor/jstree/jstree.js' %}"></script>
        <!--Users -->
        <script src="{% static 'js/localidades_ver.js' %}"></script>


        <!-- Examples -->
        <!-- Examples -->
        <script src="{% static 'assets/javascripts/ui-elements/examples.treeview.js' %}"></script>

        <!--Autocompletar-->
        <script type="text/javascript">
            $(document).ready(function(){
                $("#menu_localidades").data("test", {localidad_id: ""});
                $("#modalAgregar").data("test", {m: ""});
                iniciarAutocomplete("txtAutocompletar", "menu_localidades");
                $("#treeBasic").jstree("open_all");//close_all
            });
        </script>
    {% endblock js %}
