{% extends "base.html" %} {% load staticfiles %} {% block css %}
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'portal/semaforo.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/owl-carousel/owl.carousel.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/owl-carousel/owl.theme.css' %}" />
<link rel="stylesheet" href="{% static 'switch/style.css' %}" />
<script src="//www.chartjs.org/assets/Chart.min.js"></script>
{% endblock css %}
<!-- start: page -->
{% block content %}
<header class="page-header">
    <h2>Dashboard</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Dashboard</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <center>
        <button type="button" class="mb-xs mt-xs mr-xs btn btn-default" onclick="calibrar({{id_interseccion}})"><i class="fa fa-refresh"></i> Calibración</button>
    </center>
</div>
<div class="row">
    {% regroup sensores by scint_calle_mapa.cmap_calle as lista %}
    {% for sen in lista %}
        <div class="col-lg-12">
            <section class="panel-featured panel-featured-primary">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                    </div>
                    <h2 class="panel-title">Sensores calle: {{sen.grouper.cal_nombre|capfirst}}</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        {% for sena in sen.list %}
                            {% if sena.scint_sensor.sact_tipo == "semaforo" %}
                                <div class="col-lg-3">
                                    <ul id="{{ sena.scint_sensor.id_sensor }}" class="semaforo">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                    <label class="switch switch-green" style="margin: auto 42px;">
                                    {% if sen.grouper.cal_principal %}
                                      <input id="switch-{{ sena.scint_sensor.id_sensor }}" type="checkbox" class="switch-input" onchange="togleSemaforoCalle(this,'{{ sena.scint_sensor.id_sensor }}')" data-idCalle="{{sena.scint_calle_mapa.cmap_calle.pk}}" data-id="{{ sena.scint_sensor.id_sensor }}" checked>
                                    {% else %}
                                      <input id="switch-{{ sena.scint_sensor.id_sensor }}" type="checkbox" class="switch-input" onchange="togleSemaforoCalle(this,'{{ sena.scint_sensor.id_sensor }}')" data-idCalle="{{sena.scint_calle_mapa.cmap_calle.pk}}" data-id="{{ sena.scint_sensor.id_sensor }}">
                                    {% endif %}
                                      <span class="switch-label" data-on="Principal" data-off="Normal"></span>
                                      <span class="switch-handle"></span>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <div id="map{{sena.scint_sensor.id_sensor}}" style="height: 300px; width: 100%;"></div>
                                </div>
                            {% endif %}
                            {% if sena.scint_sensor.sact_tipo == "ultrasonico" %}
                                <div class="col-lg-5">
                                    <section class="panel">
                                        <div class="panel-body bg-primary">
                                            <div class="widget-summary">
                                                <div class="widget-summary-col widget-summary-col-icon">
                                                    <div class="summary-icon">
                                                        <i class="fa fa-automobile"></i>
                                                    </div>
                                                </div>
                                                <div class="widget-summary-col">
                                                    <div class="summary">
                                                        <h4 class="title"> Número de carros circulados por la calle: <br><strong>{{ sena.scint_calle_mapa.cmap_calle|capfirst }}</strong></h4>
                                                        <div class="info">
                                                            <strong id="{{ sena.scint_sensor.id_sensor }}" class="amount">1281</strong>
                                                        </div>
                                                    </div>
                                                    <div class="summary-footer">
                                                        <a class="text-uppercase">{{ sena.scint_sensor.sact_nombre }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <canvas id="grafico{{sena.scint_sensor.id_sensor}}" style="height: 150px; width: 100%;"></canvas>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
<!-- end: page -->
{% block js %}
<!-- Examples -->
<script src="http://maps.google.com/maps/api/js?key=AIzaSyC0Fkf1K0R83SbVBnokQp_mq2vkjzhANjQ"></script>
<script type="text/javascript">
    var host = document.location.hostname;
    var url = 'http://'+host+':8686/conexiones';
    var socket = io.connect(url,{'forceNew':true});
    socket.on('connect', function() {
        console.info("Connecting to Node.js at: %s", url);
        socket.emit('subscribe','dashboard');
    });
    socket.on('datos sensores', function(msg) {
        msg = JSON.parse(msg);
        if(msg.dato === "V"){
            $("#"+msg.id_sensor).removeClass("R");
            $("#"+msg.id_sensor).addClass("V");
        }
        else if(msg.dato === "A"){
            $("#"+msg.id_sensor).removeClass("V");
            $("#"+msg.id_sensor).addClass("A");
        }
        else if(msg.dato === "R"){
            $("#"+msg.id_sensor).removeClass("A");
            $("#"+msg.id_sensor).addClass("R");
        }else{
            $("#"+msg.id_sensor).html(msg.dato);
            {% for sem in sensores %}
                    {% if sem.scint_sensor.sact_tipo == 'ultrasonico' %}
                        if(msg.id_sensor==="{{sem.scint_sensor.id_sensor}}"){
                            actualizarChart{{sem.scint_sensor.id_sensor}}(msg.dato);
                        }
                    {% endif %}
            {% endfor %}
        }
    });

    socket.on('datos switch principal', function(id_switch){
        console.log('principal #switch-'+id_switch);
        $('#switch-'+id_switch).prop('checked', true);
    });

    socket.on('datos switch secundario', function(id_switch){
        console.log('secunadrio #switch-'+id_switch);
        $('#switch-'+id_switch).prop('checked', false);
    });

    function calibrar(id_interseccion){
        swal({
          title: "Calibración",
          text: "¿Desea enviar a calibrar esta interseccion realmente?",
          type: "info",
          showCancelButton: true,
          closeOnConfirm: false,
          showLoaderOnConfirm: true,
        },
        function(){
            socket.emit('calibracion',id_interseccion);
            socket.on('success', function(data){
                swal("Proceso terminado con exito");
            });
        });
    }

    function togleSemaforoCalle(checkbox, value){
        // $(checkbox).off('change');
        // $(checkbox).prop('checked', !$(checkbox).prop('checked'));
        // $(".switch-input").each(function(index){
        //     console.log($(this).is(':checked'));
        // });
        var estadoAnterior = !$(checkbox).prop('checked');
        var estadoNuevo = $(checkbox).prop('checked');
        var mensaje;
        if(estadoAnterior){
            mensaje = '¿Desea cambiar de estado Principal a Secundario el semaforo?';
        }else{
            mensaje = '¿Desea cambiar de estado Secundario a Principal el semaforo?'
        }
        var dic;
        var vector = [];
        swal({
          title: "Esta seguro?",
          text: mensaje,
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3399FFFF",
          confirmButtonText: "Si",
          closeOnConfirm: false
        },
        function(isConfirm){
          if (isConfirm) {
            $(".switch-input").each(function(index){
                dic = {
                    'id_semaforo': $(this).attr('data-id'),
                    'id_calle':$(this).attr('data-idCalle'),
                    'estado': $(this).prop('checked')
                }
                if($(this).attr('data-id') === value){
                    dic.calibracion = true;
                }else{
                    $(this).prop('checked', !$(checkbox).prop('checked'));
                    dic.calibracion = false;
                }
                vector.push(dic);
            });
            socket.emit('calibracion manual', vector);
            console.log('esto se envia a nodeJs para analisis y consulta: '+value);
            swal("Enviado!", "Su accion se a enviado exitosamente", "success");
          } else {
            $(checkbox).prop('checked', !$(checkbox).prop('checked'));
            swal("Cancelado", "no se ha realizado su accion", "error");
          }
        });
    }
</script>
<script>
    $(document).ready(function () {
        {% for sem in sensores %}
                {% if sem.scint_sensor.sact_tipo == 'semaforo' %}
                    var lat = {{sem.scint_sensor.sact_latitud}};
                    var lon = {{sem.scint_sensor.sact_longitud}};
                    var myLatlng = new google.maps.LatLng(lat,lon);
                    var mapOptions = {
                      zoom: 23,
                      center: myLatlng,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    var map = new google.maps.Map(document.getElementById("map{{sem.scint_sensor.id_sensor}}"),
                        mapOptions);
                    var marcador = new google.maps.Marker({
                      position: new google.maps.LatLng(lat,lon),
                      map: map
                    });
                {% endif %}
        {% endfor %}
    });
</script>
    {% for sem in sensores %}
            {% if sem.scint_sensor.sact_tipo == 'ultrasonico' %}
                <script>
                    var canvas{{sem.scint_sensor.id_sensor}} = document.getElementById('grafico{{sem.scint_sensor.id_sensor}}'),
                    ctx{{sem.scint_sensor.id_sensor}} = canvas{{sem.scint_sensor.id_sensor}}.getContext('2d'),
                    startingData{{sem.scint_sensor.id_sensor}} = {
                      labels: [1,2,3,4,5,6,7],
                      datasets: [
                          {
                              label: 'Cantidad de carros',
                              fillColor: "rgba(151,187,205,0.2)",
                              strokeColor: "rgba(151,187,205,1)",
                              pointColor: "rgba(151,187,205,1)",
                              pointStrokeColor: "#fff",
                              data: [0,0,0,0,0,0,0]
                          }
                      ]
                    },
                    latestLabel = startingData{{sem.scint_sensor.id_sensor}}.labels[6];
                    // Reduce the animation steps for demo clarity.
                    var myLiveChart{{sem.scint_sensor.id_sensor}} = new Chart(ctx{{sem.scint_sensor.id_sensor}}).Line(startingData{{sem.scint_sensor.id_sensor}}, {
                        animationSteps: 15,
                    });

                    function actualizarChart{{sem.scint_sensor.id_sensor}}(value){
                        myLiveChart{{sem.scint_sensor.id_sensor}}.addData([value], ++latestLabel);
                        myLiveChart{{sem.scint_sensor.id_sensor}}.removeData();
                    }
                </script>
            {% endif %}
    {% endfor %}
{% endblock js %}
