{% extends "base.html" %}
{% load staticfiles %}
    {% block css %}
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/query-ui-1.10.4.custom.css' %}" />
    
    <link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/vendor/owl-carousel/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/owl-carousel/owl.theme.css' %}" />

    <style type="text/css">

        .h1-modificado{
            color: #396;
            font-weight: 100;
            font-size: 40px;
            margin: 40px 0px 20px;
        }

        #clockdiv{
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
        }

        #clockdiv > div{
            padding: 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
        }

        #clockdiv div > span{
            padding: 15px;
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
        }

        .smalltext{
            padding-top: 5px;
            font-size: 16px;
        }

    </style>
    <script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
    {% endblock css %}
    <!-- start: page -->
    {% block content %}
    <header class="page-header">
        <h2>Dashboard</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel-featured panel-featured-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                        </div>
                        <h2 id="titulo" class="panel-title">Calibración Automatica en...</h2>
                    </header>
                    <div class="panel-body">
                        <center>
                            <div id="clockdiv">
                                  <div>
                                        <span class="days">00</span>
                                        <div class="smalltext">Dias</div>
                                  </div>
                                  <div>
                                        <span class="hours">00</span>
                                        <div class="smalltext">Horas</div>
                                  </div>
                                  <div>
                                        <span class="minutes">00</span>
                                        <div class="smalltext">Minutos</div>
                                  </div>
                                  <div>
                                        <span class="seconds">00</span>
                                        <div class="smalltext">Segundos</div>
                                  </div>
                            </div>
                        </center>
                        <div class="col-lg-12">
                            <button type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" onclick="modalDate();">Cambiar configuración de tiempo de calibración</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel-featured panel-featured-primary">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                        </div>
                        <h2 id="titulo" class="panel-title">Lista de Intersecciones</h2>
                    </header>
                    <div class="panel-body">
                        <center>
                            <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "autoPlay": 3000, "items": {{interseccion|length }}, "itemsDesktop": [1199,4], "itemsDesktopSmall": [979,3], "itemsTablet": [768,2], "itemsMobile": [479,1] }'>
                        {% for interseccion in int %}
                                <div class="item spaced">
                                    <a href="/portal/dashboard/{{interseccion.pk}}/"><img class="img-thumbnail" src="{% static 'img/intersection.jpg' %}" alt=""></a>
                                    <center>
                                        <a href="/portal/dashboard/{{interseccion.pk}}/"><p><b>{{interseccion.int_nombre}}</b></p></a>
                                    </center>
                                </div>
                        {% endfor %}
                            </div>
                        </center>
                    </div>
                </section>
            </div>
        </div>
<div class="modal fade" id="modalDate" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel3">
                    Calibracion cada..
                </h4>
            </div>
            <div class="modal-body">
                <center>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label ">Dias</label>
                        <div class="col-md-4">
                            <div data-plugin-spinner data-plugin-options='{ "value":0, "min": 0, "max": 500 }'>
                                <div class="input-group" style="width:150px;">
                                    <input id="txtDias" type="text" class="spinner-input form-control" maxlength="3" readonly>
                                    <div class="spinner-buttons input-group-btn">
                                        <button id="btnDias" type="button" class="btn btn-default spinner-up" disabled="true">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                        <button id="btnDias2" type="button" class="btn btn-default spinner-down" disabled="true">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radioDias" name="radioExample">
                                <label for="radioDias">Activar</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label ">Horas</label>
                        <div class="col-md-4">
                            <div data-plugin-spinner data-plugin-options='{ "value":0, "min": 0, "max": 500 }'>
                                <div class="input-group" style="width:150px;">
                                    <input id="txtHoras" type="text" class="spinner-input form-control" maxlength="3" readonly>
                                    <div class="spinner-buttons input-group-btn">
                                        <button id="btnHoras" type="button" class="btn btn-default spinner-up" disabled="true">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                        <button id="btnHoras2" type="button" class="btn btn-default spinner-down" disabled="true">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radioHoras" name="radioExample">
                                <label for="radioHoras">Activar</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label ">Minutos</label>
                        <div class="col-md-4">
                            <div data-plugin-spinner data-plugin-options='{ "value":0, "min": 0, "max": 500 }'>
                                <div class="input-group" style="width:150px;">
                                    <input id="txtMin" type="text" class="spinner-input form-control" maxlength="3" readonly>
                                    <div class="spinner-buttons input-group-btn">
                                        <button id="btnMin" type="button" class="btn btn-default spinner-up" disabled="true">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                        <button id="btnMin2" type="button" class="btn btn-default spinner-down" disabled="true">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radioMinutos" name="radioExample">
                                <label for="radioMinutos">Activar</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-offset-2 col-md-2 control-label ">Segundos</label>
                        <div class="col-md-4">
                            <div data-plugin-spinner data-plugin-options='{ "value":0, "min": 0, "max": 500 }'>
                                <div class="input-group" style="width:150px;">
                                    <input id="txtSeg" type="text" class="spinner-input form-control" maxlength="3" readonly>
                                    <div class="spinner-buttons input-group-btn">
                                        <button id="btnSeg" type="button" class="btn btn-default spinner-up" disabled="true">
                                            <i class="fa fa-angle-up"></i>
                                        </button>
                                        <button id="btnSeg2" type="button" class="btn btn-default spinner-down" disabled="true">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="radio-custom radio-primary">
                                <input type="radio" id="radioSegundos" name="radioExample">
                                <label for="radioSegundos">Activar</label>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
            <div class="modal-footer">
                <button id="btnCalibrarDate" data-dismiss="modal" class="btn btn-success active" onclick="guardarCalibracion()" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
    <!-- end: page -->
    {% block js %}
    <!-- Specific Page Vendor -->
        <script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
        <script src="{% static 'assets/javascripts/socket.io.js' %}"></script>
        <script src="{% static 'assets/select/select2.js' %}"></script>
        <script src="{% static 'assets/vendor/fuelux/js/spinner.js' %}"></script>
        <script src="{% static 'assets/vendor/owl-carousel/owl.carousel.js' %}"></script>
        
        <script type="text/javascript">

            var host = document.location.hostname;
            var url = 'http://'+host+':8686/conexiones';
            var socket = io.connect(url,{'forceNew':true});
            socket.on('connect', function() {
                console.info("Connecting to Node.js at: %s", url);
                socket.emit('subscribe', 'reloj');
                socket.emit('obtener end time','OK');
            });

            var clock = document.getElementById('clockdiv');
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            socket.on('dia', function(dia){
                daysSpan.innerHTML = dia;
            });
            socket.on('hora', function(hora){
                hoursSpan.innerHTML = hora;
            });
            socket.on('minutos', function(min){
                minutesSpan.innerHTML = min;
            });
            socket.on('segundos', function(seg){
                secondsSpan.innerHTML = seg;
            });

            socket.on('end time', function(mensaje){
                $('#titulo').empty();
                $('#titulo').append(mensaje);
            });

            function modalDate() {
                console.log('Esta llegando');
                $('#select_dias').empty();
                $('#select_horas').empty();
                $('#select_minutos').empty();
                $('#select_segundos').empty();
                $('#modalDate').modal('show');
            }

            function guardarCalibracion(){

                var radioButTrat = document.getElementsByName("radioExample");
                for (var i=0; i<radioButTrat.length; i++) {
                    if (radioButTrat[i].checked == true) {
                        var radio = $(radioButTrat[i]).attr('id');
                        var data;
                        switch(radio) {
                            case 'radioDias':
                                var dias = $("#txtDias").val();
                                data = new Date(Date.parse(new Date()) + dias * 24 * 60 * 60 * 1000);
                                console.log(data);
                                break;
                            case 'radioHoras':
                                var horas = $("#txtHoras").val();
                                data = new Date(Date.parse(new Date()) + 1 * horas * 60 * 60 * 1000);
                                break;
                            case 'radioMinutos':
                                var min = $("#txtMin").val();
                                data = new Date(Date.parse(new Date()) + 1 * 1 * min * 60 * 1000);
                                break;
                            case 'radioSegundos':
                                var seg = $("#txtSeg").val();
                                data = new Date(Date.parse(new Date()) + 1 * 1 * 1 * seg * 1000);
                                break;
                            }
                        console.log(data);
                        socket.emit('obtener end time',data);
                    }
                }
            }

            $('input[type="radio"]').on('click', function(e) {
                var radio = $(this).attr('id');
                switch(radio) {
                case 'radioDias':
                    $("#btnDias").prop('disabled', false);
                    $("#btnDias2").prop('disabled', false);

                    $("#txtHoras").val('0');
                    $("#txtMin").val('0');
                    $("#txtSeg").val('0');

                    $("#btnHoras").prop('disabled', true);
                    $("#btnHoras2").prop('disabled', true);
                    $("#btnMin").prop('disabled', true);
                    $("#btnMin2").prop('disabled', true);
                    $("#btnSeg").prop('disabled', true);
                    $("#btnSeg2").prop('disabled', true);
                    break;
                case 'radioHoras':
                    $("#btnHoras").prop('disabled', false);
                    $("#btnHoras2").prop('disabled', false);

                    $("#txtDias").val('0');
                    $("#txtMin").val('0');
                    $("#txtSeg").val('0');

                    $("#btnDias").prop('disabled', true);
                    $("#btnDias2").prop('disabled', true);
                    $("#btnMin").prop('disabled', true);
                    $("#btnMin2").prop('disabled', true);
                    $("#btnSeg").prop('disabled', true);
                    $("#btnSeg2").prop('disabled', true);
                    break;
                case 'radioMinutos':
                    $("#btnMin").prop('disabled', false);
                    $("#btnMin2").prop('disabled', false);

                    $("#txtDias").val('0');
                    $("#txtHoras").val('0');
                    $("#txtSeg").val('0');

                    $("#btnSeg").prop('disabled', true);
                    $("#btnSeg2").prop('disabled', true);
                    $("#btnHoras").prop('disabled', true);
                    $("#btnHoras2").prop('disabled', true);
                    $("#btnDias").prop('disabled', true);
                    $("#btnDias2").prop('disabled', true);
                    break;
                case 'radioSegundos':
                    $("#btnSeg").prop('disabled', false);
                    $("#btnSeg2").prop('disabled', false);

                    $("#txtDias").val('0');
                    $("#txtHoras").val('0');
                    $("#txtMin").val('0');

                    $("#btnMin").prop('disabled', true);
                    $("#btnMin2").prop('disabled', true);
                    $("#btnHoras").prop('disabled', true);
                    $("#btnHoras2").prop('disabled', true);
                    $("#btnDias").prop('disabled', true);
                    $("#btnDias2").prop('disabled', true);
                    break;
                }
            });
        </script>
    {% endblock js %}
