{% extends "base.html" %} {% load staticfiles %} {% block css %}
<!-- Specific Page Vendor CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />
<link rel="stylesheet" href="{% static 'assets/stylesheets/ubicaciones.css' %}" />
<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/vendor/jstree/themes/default/style.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/select/select2.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/vendor/jquery-datatables-bs3/assets/css/datatables.css' %}" />
<link rel="stylesheet" href="{% static 'assets/selective/css/selectize.css' %}"/>
<link rel="stylesheet" href="{% static 'assets/selective/css/selectize.bootstrap3.css' %}"/>
{% endblock css %}
<!-- start: page -->
{% block content %}
<header class="page-header">
	<h2>Dashboard</h2>

	<div class="right-wrapper pull-right">
		<ol class="breadcrumbs">
			<li>
				<a href="index.html">
					<i class="fa fa-home"></i>
				</a>
			</li>
			<li><span>Dashboard</span></li>
		</ol>

		<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
	</div>
</header>
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>

        <h2 class="panel-title">Basic</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th class="hidden-phone">Engine version</th>
                    <th class="hidden-phone">CSS grade</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeX">
                    <td>Trident</td>
                    <td>Internet
                        Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td class="center hidden-phone">4</td>
                    <td class="center hidden-phone">X</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}
<!-- end: page -->
{% block js %}
<script src="{% static 'assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js' %}"></script>
<!-- Specific Page Vendor -->
<script src="{% static 'assets/select/select2.js' %}"></script>

<script src="{% static 'assets/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-datatables-bs3/assets/js/datatables.js' %}"></script>
<script src="{% static 'assets/selective/js/standalone/selectize.js' %}"></script>


<!-- Examples -->
<script src="{% static 'assets/javascripts/tables/examples.datatables.default.js' %}"></script>
{% endblock js %}
